<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation Page</title>
</head>
<body>
    <h1>Registeration successful</h1>
    <!-- <table>
        <tr>
            <td>Name</td><td>{{name}}</td>
        </tr>
         <tr>
            <td>City</td><td>{{city}}</td>
        </tr>
         <tr>
            <td>Phone</td><td>{{phonenumber}}</td>
        </tr>
    </table> -->
    <p>Name : {{name}}</p>
    <p>City : {{city}}</p>
    <p>Phone : {{phonenumber}}</p>
</body>
</html>