<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
</head>
<body>
    <form action="/confirm" method="POST">
        <label for="name">Name</label>
        <input type="text" name = "name" placeholder="name" >
        <br>
        <label for="city">City</label>
        <input type="text" name="city" placeholder="city">
        <br>
        <label for="phonenumber">Phone</label>
        <input type="number" name="phonenumber" placeholder="phonenumber">
        <br>
        <input type="submit" value="Register">
        <!-- <a href="/confirm">Register</a> -->
    </form>
    
</body>
</html>